@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Charts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">
  
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
    <h4 class="d            isplay-4">عدد مقدمي و ممثلي و طالبي الخدمة</h4>
    <h3><a href="~/Admin">Back</a></h3>
    <div class="card">
        <div class="card-header">
                        <div class="chart">
                            <canvas id="barchart"></canvas>
            </div>
        </div>
    </div>
</div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - StudentManagement
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script>

        var barCanvas = document.getElementById("barchart");

        var Physics = [];//these are all javascript array variables
        var Chemistry = [];
        var Biology = [];
        

        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                @:Physics.push(@item.Physics);
                @:Chemistry.push(@item.Chemistry);
                @:Biology.push(@item.Biology);
               
            }
        }


        var Physics = {
            label: 'عدد ممثلي الخدمة',
            data: Physics,
            backgroundColor: 'rgb(255, 99, 132)',
            borderWidth: 0,
            lineTension: 0,
        };

        var Chemistry = {
            label: 'عدد طالبى الخدمة',
            data: Chemistry,
            backgroundColor: 'rgb(54, 162, 235)',
            borderWidth: 0,
        };

        var Biology = {
            label: 'عدد مقدمي الخدمة',
            data: Biology,
            backgroundColor: 'rgb(157, 230, 41)',
            borderWidth: 0,
        };

      

        var datasetvalues = {
            labels: ["عدد المستخدمين"],//x-axis label values
            datasets: [Physics, Chemistry, Biology]//y-axis
        };

        var chartOptions = {
            scales: {
                xAxes: [{
                    barPercentage: 1,//Percent (0-1) of the available width each bar should
                    categoryPercentage: 0.6,//Percent (0-1) of the available width each category

                }],
                yAxes: [{
                    barPercentage: 1,
                    categoryPercentage: 0.6,
                    ticks: {
                        beginAtZero: true
                    }
                }],
            }
        };

        var barChart = new Chart(barCanvas, {
            type: 'bar',
            data: datasetvalues,
            options: chartOptions
        });

    </script>
  
</body>
</html>
