@{
    Layout = "";
}
@model MadmounMobileApp.Models.HomePageModel
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="rtl">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Dashboard analytics - Vuexy - Bootstrap HTML admin template</title>
    <link rel="apple-touch-icon" href="~/Admin/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Admin/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/extensions/tether-theme-arrows.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/extensions/tether.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/extensions/shepherd-theme-default.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/components.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/pages/dashboard-analytics.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/pages/card-analytics.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/plugins/tour/tour.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/custom-rtl.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/css/style-rtl.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
            </div>
        </div>
    </nav>
    <ul class="main-search-list-defaultlist d-none">
        <li class="d-flex align-items-center">
            <a class="pb-25" href="#">
                <h6 class="text-primary mb-0">Files</h6>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="mr-50"><img src="~/Admin/app-assets/images/icons/xls.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Two new item submitted</p><small class="text-muted">Marketing Manager</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;17kb</small>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="mr-50"><img src="~/Admin/app-assets/images/icons/jpg.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">52 JPG file Generated</p><small class="text-muted">FontEnd Developer</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;11kb</small>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="mr-50"><img src="~/Admin/app-assets/images/icons/pdf.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">25 PDF File Uploaded</p><small class="text-muted">Digital Marketing Manager</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;150kb</small>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="mr-50"><img src="~/Admin/app-assets/images/icons/doc.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna_Strong.doc</p><small class="text-muted">Web Designer</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;256kb</small>
            </a>
        </li>
        <li class="d-flex align-items-center">
            <a class="pb-25" href="#">
                <h6 class="text-primary mb-0">Members</h6>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="~/Admin/app-assets/images/portrait/small/avatar-s-8.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">John Doe</p><small class="text-muted">UI designer</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="~/Admin/app-assets/images/portrait/small/avatar-s-1.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Michal Clark</p><small class="text-muted">FontEnd Developer</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="~/Admin/app-assets/images/portrait/small/avatar-s-14.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Milena Gibson</p><small class="text-muted">Digital Marketing Manager</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="~/Admin/app-assets/images/portrait/small/avatar-s-6.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna Strong</p><small class="text-muted">Web Designer</small>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="main-search-list-defaultlist-other-list d-none">
        <li class="auto-suggestion d-flex align-items-center justify-content-between cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100 py-50">
                <div class="d-flex justify-content-start"><span class="mr-75 feather icon-alert-circle"></span><span>No results found.</span></div>
            </a>
        </li>
    </ul>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="~/Admin/">
                        <div class="brand-logo"></div>
                        <h2 class="brand-text mb-0">تطبيق مضمون</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">ممثلي الخدمات</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/CreateSrRep/Index"><i class="feather icon-user"></i><span class="menu-item" data-i18n="eCommerce">اضافة ممثلي الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffAndSrRep/ListUsers2"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics">جميع ممثلي الخدمات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/CreateSrRep/IndexRayadah"><i class="feather icon-user"></i><span class="menu-item" data-i18n="eCommerce">اضافة ممثلي ريادة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffAndSrRep/ListUsersRayadah"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> جميع ممثلي ريادة</span></a>
                        </li>




                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrRepCity/Index"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce">مدن ممثلي الخدمات</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment8"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce">عدد ممثلي الخدمة </span></a>
                        </li>




                    </ul>
                </li>


                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">مقدمي الخدمات</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffAndSrRep/ListUsers"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> مقدمي الخدمات</span></a>
                        </li>


                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffCity/Index"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce">مدن مقدمي الخدمات</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment7"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce">عدد مقدمي الخدمات <br />حسب الخدمة و المدينة </span></a>
                        </li>



                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffByCity"><i class="feather icon-check-circle"></i><span class="menu-item" data-i18n="eCommerce"> عدد<br />  مقدمي الخدمات حسب <br />  المدن</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SalesRecord/ShowData"><i class="feather icon-check-circle"></i><span class="menu-item" data-i18n="eCommerce">رسم بياني لمقدمي الخدمات </span></a>
                        </li>
                    </ul>
                </li>




                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">العملاء</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/LoginHistory/Index"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">عدد العملاء الفعالين</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ActiveCustomers/ShowData"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">رسم بياني يوضح عدد العملاء الفعالين</span></a>
                        </li>



                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Client/Index"><i class="feather icon-users"></i><span class="menu-item" data-i18n="eCommerce">العملاء</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrReq/ListReqs"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> طالبي الخدمات</span></a>
                        </li>

                    </ul>
                </li>




                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">المدن والخدمات</span></a>

                    <ul class="menu-content">
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/City/Index"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce"> المدن </span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Area/Index"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce"> المناطق</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Service/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">الخدمات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServiceCategory/Index"><i class="feather icon-server"></i><span class="menu-item" data-i18n="eCommerce">اقسام الخدمات</span></a>
                        </li>

                    </ul>
                </li>





                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">حركة الخدمات</span></a>

                    <ul class="menu-content">
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesRequired/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">جدول الخدمات المطلوبة</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesApproved/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">جدول قبول الخدمات <br /> من مقدم الخدمة</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServiceApprovedMilstone/Index"><i class="feather icon-check-circle"></i><span class="menu-item" data-i18n="eCommerce">جدول مراحل كل مشروع<br /> وتكلفة كل مرحلة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment6"><i class="feather icon-server"></i><span class="menu-item" data-i18n="eCommerce">عدد الخدمات المطلوبة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ClientImage/Index"><i class="feather icon-copy"></i><span class="menu-item" data-i18n="eCommerce">مراحل مشاريع العملاء</span></a>
                        </li>
                    </ul>
                </li>


                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">العقود وعروض الأسعار</span></a>

                    <ul class="menu-content">
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesOffers/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce"> عروض الأسعار</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffersByService"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">عدد عروض الاسعار</span></a>
                        </li>


                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesApproved/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">العقود</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffersByServiceApproved"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">عدد العقود المبرمة<br /> </span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffersByServiceRejected"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">عدد العروض المرفوضة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/collectiveReport"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">تحليل العروض   </span></a>
                        </li>



                    </ul>
                </li>



                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">المدفوعات</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment"><i class="feather icon-user"></i><span class="menu-item" data-i18n="eCommerce">المدفوعات لمقدمي الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment2"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> المدوعات لمن اشرف عليهم<br /> ممثلي الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment3"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce"> المدفعوت للعميل </span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment4"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce"> اجمالي المدفوعات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment5"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce">اجمالي المدفوعات بالخدمة </span></a>
                        </li>



                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/New"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">مدفوعات مراحل المشاريع</span></a>
                        </li>

                    </ul>
                </li>


                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">الرسائل والاشعارات</span></a>

                    <ul class="menu-content">


                        <li class=" nav-item">
                            <a class="ac" href="/Admin/LastDevelopment/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce">اخر تطوراتنا </span></a>
                        </li>







                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Advertisment/Index"><i class="feather icon-tv"></i><span class="menu-item" data-i18n="eCommerce">الاعلانات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Advice/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce">النصائح</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Notification/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce">الاشعارات/ اشعارات لمقدم<br />  و ممثل الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Complains/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">الشكاوي</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/WhoWeAre/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">من نحن</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/TermsOfUse/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">شروط الاستخدام</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ContactUs/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">تواصل معنا</span></a>
                        </li>


                    </ul>
                </li>













            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">

                <section id="data-thumb-view" class="data-thumb-view-header">
                    <div class="action-btns d-none">
                        <div class="btn-dropdown mr-1 mb-1">
                            <div class="btn-group dropdown actions-dropodown">
                                @*    <a asp-controller="City" asp-action="Form"><button class="btn btn-primary mr-1 mb-1">اضف مدينة جديدة</button></a>*@
                            </div>
                        </div>
                    </div>


                    <table class="table data-thumb-view">
                        <thead>
                            <tr>
                                <th></th>

                                @*<th>اسم الشركة</th>*@


                                <th>اسم الخدمة</th>


                                <th>عدد العروض المقبولة</th>




                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstGetOffersNo)
                            {


                                    <tr>
                                        <td></td>

                                    @*<td class="product-name">@item.CompanyDescription</td>*@






                                        <td class="product-category">@Model.lstServices.Where(a => a.ServiceId == item.ServiceId).FirstOrDefault().ServiceName</td>



                                        <td class="product-category">@item.count</td>




                                    @*<td>
                                <div class="progress progress-bar-success">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:97%"></div>
                                </div>
                                </td>
                                <td>
                                <div class="chip chip-warning">
                                <div class="chip-body">
                                <div class="chip-text">on hold</div>
                                </div>
                                </div>
                                </td>
                                <td class="product-price">$69.99</td>*@

                                    </tr>


                            }






                        </tbody>
                    </table>


                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0">
            <span class="float-md-left d-block d-md-inline-block mt-25"><a class="text-bold-800 grey darken-2" href="https://visooft.com/" target="_blank"></a></span><span class="float-md-right d-none d-md-block"><a class="text-bold-800 grey darken-2" href="https://visooft.com/" target="_blank">جميع الحقوق محفوظة لـ رؤي برمجية</a></span><i class="feather icon-heart pink"></i></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Admin/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Admin/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Admin/app-assets/js/core/app-menu.js"></script>
    <script src="~/Admin/app-assets/js/core/app.js"></script>
    <script src="~/Admin/app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/Admin/app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <!-- END: Page JS-->
    <script>
        var url = '@Url.Action("Payment5", "Home")';
        //var url = window.location.href;

        $("#CourseDdl").change(function () {
            //var end = this.value;
            var end2 = $("#CourseDdl2").val();

            //if (end2 === "") {
            //    alert("choose date from");
            //}

            var end3 = $("#CourseDdl3").val();
            //if (end3 === "") {
            //    alert("choose date to");
            //}

            //location.replace(url+ "/?Id=" + this.value);
            //location.replace(url + "/?CourseId=" + this.value);

            //$("#CourseDdl2").on("change keyup paste", function () {
            //    var end2 = this.value;
            //    location.replace(url + "/?Id=" + $("#CourseDdl").value + "/?DateOne=" + this.value);
            //})
        });
        $("#CourseDdl2").change(function () {
            var end2 = $("#CourseDdl2").val();

            var end = $("#CourseDdl").val();

            var end3 = $("#CourseDdl3").val();
            //if (end3 === "") {
            //    alert("choose date to");
            //}

            //location.replace(url + "/?Id=" + end + "&DateOne=" + end2);
        });

        $("#CourseDdl3").change(function () {
            var end2 = $("#CourseDdl2").val();
            //if (end2 === "") {
            //    alert("choose date from");
            //}

            end2 = $("#CourseDdl2").val();

            var end = $("#CourseDdl").val();

            var end3 = $("#CourseDdl3").val();


            location.replace(url + "/?Id=" + end + "&DateOne=" + end2 + "&DateTwo=" + end3);
        });
    </script>
     <script type="text/javascript">
        var currentlocation =location.href;
        var header = document.getElementById("main-menu-navigation");
          
        var btns = document.querySelectorAll(".ac");
       
        console.log(currentlocation);
        console.log(header);
        console.log(btns.length);
        console.log(btns);
        console.log(btns[0].href);
        console.log(btns[0].parentNode);
        for (let i = 0; i < btns.length; i++) {
           
             if(btns[i].href  === currentlocation) {
              
                    //var current = document.getElementsByClassName("active");
                  
                    //current[0].className = current[0].className.replace(" active", "");
                console.log(btns[0].parentNode.className);
                btns[i].parentNode.className ='active';
                console.log(btns[0].parentNode.className);
              
                   
              
               
            }
           
       }
    </script>
</body>
<!-- END: Body-->

</html>